<div class=dhb-cell>
    <div class=dhb-cell-status>
        <div></div>
     </div>
    <div class=dhb-cell-content>
        <div class=dhb-cell-header>
            <strong>{{dhbSummary?.dhbName}}</strong>
        </div>
        <div class=dhb-cell-info>
            <div class=dhb-cell-table>
                <div class=dhb-cell-table-row>
                    <div class=dhb-cell-table-column>
                      <span>first</span>
                      <span>{{dhbSummary?.totalFirstDoses}}</span>
                    </div>
                    <div class=dhb-cell-table-column>
                      <span>second</span>
                      <span>{{dhbSummary?.totalSecondDoses}}</span>
                    </div>
                </div>
            </div>
            <div class=dhb-cell-text>
                <strong> 16432 </strong> more until 90%
            </div>
        </div>
    </div>
</div>