#primary-wrapper {
    height:100%;
    display:flex;
    flex-direction: column;
    padding: 5rem 0 0 5rem;
    overflow: hidden;

    @media only screen and (max-width: 600px) {
        padding: 1rem;
        width:auto;
    }

    & #page-title {
        font-size:1.5rem;
        padding-bottom: 1rem;
        font-weight:bold;
    }

    & .tile {
        background-color: white;
        box-shadow: var(--box-shadow);
        width: 357px;
        max-height: 457px;
        overflow-y:auto;
        border-radius: 1rem;
        margin-bottom: 1rem;
        @media only screen and (max-width: 600px) {
            width:100%;
        }

        & .drag-bar {
            width: 30%;
            margin: 1rem auto 0.5rem auto;
            height:0.3rem;
            background-color:#e3e3e3;
            border-radius: 1rem;
            display: none;
            @media only screen and (max-width: 600px) {
                display:block;
            }
    
        }
        
    }
}

