#primary-wrapper {
    height:100%;
    display:flex;
    flex-direction: column;
    padding: 5rem 0 0 5rem;
    overflow: hidden;

    @media only screen and (max-width: 600px) {
        padding: 1rem;
        width:auto;
    }

    & #page-title {
        font-size:1.5rem;
        padding-bottom: 1rem;
        font-weight:bold;
    }

    & #menu-bar {
        display: inline-flex;
        flex-wrap: wrap;
        & .menu-item {
            background-color: #F1F1F1;
            padding: 0.5rem 0.8rem;
            border-radius: 1rem;
            margin: 0 0.25rem 0.5rem 0.25rem;
            box-shadow: var(--box-shadow);
            font-size: 0.85rem;
            font-weight: bold;
            cursor: pointer;

            &:hover {
                background-color: #f7f7f7;
            }
            &:active {
                background-color: white;
                outline: 1px solid #c4c4c4;

            }

            &.selected {
                background-color: white;
                outline: 1px solid #c4c4c4;

            }
        }
    }

    & .actions {
        & button {
            width: 100%;
            font-size: 1rem;
            padding: 1rem;
            background: none;
            border: none;
            cursor: pointer;

            &:hover {
                background-color: #f7f7f7;
            }
            &:active {
                background-color: #F1F1F1;
            }
        }
        & #vaccine-button {
            color: #cc0000;
            border-top: solid 1px #e2e2e2;
        }
    }

    & .tile {
        background-color: white;
        box-shadow: var(--box-shadow);
        width: 357px;
        max-height: 457px;
        overflow-y:auto;
        border-radius: 1rem;
        margin-bottom: 1rem;
        @media only screen and (max-width: 600px) {
            width:100%;
            max-height:none;
        }

        & .drag-bar {
            width: 30%;
            margin: 1rem auto 0.5rem auto;
            height:0.3rem;
            background-color:#e3e3e3;
            border-radius: 1rem;
            display: none;
            @media only screen and (max-width: 600px) {
                display:block;
            }
    
        }
        
    }
}

