<div id=primary-wrapper>

    <div id=page-title>90 Percent</div>
    <div id=menu-bar>
        <div class=menu-item routerLink="/vaccinations" routerLinkActive="selected">Vaccinations</div>
        <div class=menu-item routerLink="/locationsOfInterest" routerLinkActive="selected">Locations</div>
        <div class=menu-item routerLink="/about" routerLinkActive="selected">About</div>
    </div>
    <div class=tile> 
        <div class=drag-bar></div>
        <router-outlet></router-outlet>
    </div>

    <div class="tile actions"> 
        <button (click)="navigateToInfoPage()">Learn about vaccine safety</button>
        <button (click)="navigateToBookVaccinePage()" id=vaccine-button>Book my vaccine now</button>

    </div>
    
</div>
